
.fa {
  padding: 10px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: none;
  color: white;
}

.fa-at {
  background: none; 
  color: white;  
}

.fa-youtube-square {
    background: none;
    color: white;

}

.fa-facebook-square {
  background: none;
    color: white;
}

.fa-phone-square {
  background: none;
    color: white;
}

.fa-instagram {
  background: none;
    color: white;
}

.fa-whatsapp {
  background: none;
    color: white;
}

.fa-facebook-messenger {
  background: none;
    color: white;
}

.fa-tiktok {
  background:none;
    color: white;
}